<% layout("layout/boilerplate") %>
<body>
    <div class="container text-center mt-5">
        <h1>Error</h1>
        <p><%= err.message %></p>
        <a href="/listings" class="btn btn-primary">Go Back to Listings</a>
    </div>
</body>
</html>
