/* navbar */
.navbar{
    height : 5rem;
    background-color: white;
}
.fa-regular{
    color :crimson;
    font-size : 2rem;
}
/*footer*/
.f-info{
    text-align : center;
    display : flex;
    justify-content : center;
    flex-wrap: wrap;
    align-items: space-evenly;
    height : 6rem;
    background-color: #f2f2f2;
}
.f-info-link , .f-info-social, .f-info-brand{
    width : 100%;
    display : flex;
    align-items : center;
    justify-content : center;
}
.f-info-social i {
    margin-right : 1rem;
    font-size: 1.3rem;
    vertical-align: middle;
}
.f-info-link a{
    text-decoration: none;
    color : #222222;
}
.f-info-link a:hover{
    text-decoration: underline;
}

/* card */
.card{
    border : none !important;
    margin-bottom : 2rem;
}
.card-img-top{
    border-radius : 1rem !important;
    width : 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding : 0!important;
}
.card-text p {
    font-weight:400;
}
